[package]
name = "free-storage"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
url = { version = "2.2", features = ["serde"] }
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "1.20", features = ["rt-multi-thread"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha256 = "1.0"
